/*normal fontish */
@font-face {
    font-family: 'introheadr-base';
    src: font_url('introheadr-base-webfont.woff2') format('woff2'),
         font_url('introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*bold heading stuff */
@font-face {
    font-family: 'introrustg-base2line';
    src: url('introrustg-base2line-webfont.woff2') format('woff2'),
         url('introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*cursive stuff */
@font-face {
    font-family: 'introscriptr-h2base';
    src: url('introscriptr-h2base-webfont.woff2') format('woff2'),
         url('introscriptr-h2base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}