  @import "bootstrap";
  @import "font-awesome";

  .booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #151617;
    background: rgba(252, 252, 252, 0.753);
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'introheadr-base';
    font-size: 20px;
    color: #151617
  }

  .user_av_col img {
    border-style: solid;
    border-width: 15px;
    border-color: #151617;
    border-radius: 5%;
  }

  @media only screen and (max-width: 600px) {
    .user_av_col img {
      max-width: 150px;
      border-width: 5px;
    }
  }

  .btn {
    background-color: #0275D8;
    border: black;
    color: black;
    font-weight: bold;
  }

  .form-actions {
    font-weight: bold;
  }

  .text-muted {
    font-weight: bold;
    color: black !important;
    font-style: italic;
  }

  .bce img {
    width: 90px;
    height: 160px;
    margin: auto;
  }

  .bce {
    text-align: center;

  }

  .places_title {
    font-family: 'introscriptr-h2base';
  }

  .dash_title {
    font-family: 'introscriptr-h2base';
    font-size: 50px;
    text-decoration: underline;
  }

  .dash_sec {
    font-family: 'introscriptr-h2base';

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  .hb {
    display: block;
    height: 10px;
  }

  i {
    font-weight: bold;
  }

  body {
    background: image_url('green.jpg');
    background-size: cover;
    color: #151617;
    background-repeat: repeat;
    height: 100%;
  }



  .user-post {
    padding: 0;
    font-size: 15px;
  }

  .form-control-label {
    font-family: 'introscriptr-h2base';
    font-weight: bold;
  }

  .edit_button {
    text-align: right;
    padding-bottom: 10px;
  }

  .bottom_row {
    padding: 0
  }

  a.nav-link:hover,
  a.navbar-brand:hover {
    color: rgb(97, 158, 211)
  }

  .nav-link {
    color: #C4B1A3;
  }

  .invalid-feedback,
  .alert,
  .alert-danger {
    color: #ff0000;
    background-color: #ffeeee;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff0000;
    padding: 2px 8px 2px 8px;
    font-weight: bold;
  }

  .carousel {
    box-shadow: 0px 1px 3px rgb(12, 13, 14);
  }

  .carousel-indicators {
    bottom: 0px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1;
  }

  .carousel-caption {
    font-family: introheadr-base;
    font-size: px;
    padding-bottom: 0px;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
    width: 100%;
    position: absolute;
    left: 0;
  }

  .navbar,
  footer {
    background: #292B2C;
    box-shadow: 0px 1px 3px rgb(12, 13, 14);
    letter-spacing: -0.3px;
    color: #C4B1A3;

  }

  html {
    height: 100%;
  }


  .navbar .navbar-brand {
    color: #C4B1A3;
    font-family: 'introrustg-base2line';
    font-size: 40px;
  }

  .list_title {
    color: #151617;
    font-family: 'introrustg-base2line';
    font-size: 40px;

  }

  .pagination {
    color: #151617;
    font-family: 'introheadr-base';
    font-size: 20px;
    font-weight: bold;
  }

  .nav-item {
    font-size: 20px;
  }

  #map {
    height: 300px;

  }

  .padding {
    padding: 10px;
  }

  .clear {
    clear: both;
  }

  @media only screen and (max-width: 600px) {
    .banner_images {
      display: none;
    }
  }

  .a_links {
    color: #0275D8;
    font-weight: bold;

  }

  .carousel-inner>.carousel-item>img,
  .carousel-inner>.carousel-item>a>img {
    max-height: 182px;
    width: 100%;
  }

  blockquote {
    background: #FDFDFD;
    border-left: 10px solid #292B2C;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
  }

  blockquote:before {
    color: #292B2C;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

  .photo_size {
    max-width: 300px;
    max-height: 300px;
  }

  .photo_delete {
    margin-bottom: 10px;
  }

  /* Style the Image Used to Trigger the Modal */
  #thumbnail {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #thumbnail:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0)
    }

    to {
      transform: scale(1)
    }
  }

  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
