

<div class= 'list_title col-10 offset-1'> NOM NOM NOM BOULDER!</div>
<div class = 'list_title col-10 offset-1'>
  <%= paginate @places, 
    theme: 'twitter-bootstrap-4',
    pagination_class: "pagination-sm",
    nav_class: "d-inline-b" %> </div>
<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
  <div class="hb"></div>
       <h1 class= 'places_title'><%= link_to (place.name ? place.name : "Blank title here"), place_path(place) %></h1>
       <div class="hb"></div>
    <i><%= place.address %></i>
    <div class="hb"></div>
    <p><%= place.description %></p>
    <div class="hb"></div>
  </div>
<% end %>
