
<div class="booyah-box col-10 offset-1">
<div class="hb"></div>
<h1 class = 'places_title'><%= @place.name %></h1>
<div class="hb"></div>
<i><%= @place.address %></i>
<div class="hb"></div>
<p><%= @place.description %></p>
  <div class="hb"></div>
</div>


